@use "../../../../../styles/mixins/_mixins" as *;

.change-password-overlay {
  @include modal_form_overlay;
}

.password-hint {
  font-size: 15px;
  color: #ADADAD;
  font-family: "Inter", sans-serif;
  padding: 7px 0px 10px;
  box-sizing: border-box;
}

.change-password__form {
  @include default_form;
  padding: 24px 24px 21px;
  border-radius: 8px;
  width: 100%;
  max-width: 480px;
}

.change-password__form::before {
  @include default_form_before;
}

.change-password-modal__header{
  display: flex;
  justify-content: space-between;
  
  button{
    cursor: pointer;
  }
}
