@use "../../../../../styles/variables/_variables" as *;
@use "../../../../../styles/mixins/_mixins" as *;

.MM_overview_scen_div_one {
  display: flex;
  justify-content: right;
  gap: 10px;
  padding: 12px 0px;

  input {
    display: flex;
    flex: 1;
    width: 1px;
    height: 20px;

    background: transparent;
    border: none;
    outline: none;

    @include text_add_14px;
    color: $color-text-add;
    font-size: 12px;
    pointer-events: auto;
    user-select: text;
  }

  select {
    width: 180px;
    height: 32px;
    padding: 6px 16px;

    font-size: 12px;
    color: $color-text-add;
    @include text_add_14px;

    appearance: none;
    border-radius: 5px;
    border: 1px solid #424242;
    background: none;

    cursor: pointer;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='%23333' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;

    &:focus {
      outline: none;
    }
  }
}

.MM_input_wrapper {
  width: 180px;
  height: 32px;
  padding: 9px 16px;
  box-sizing: border-box;
  gap: 12px;
  border-radius: 5px;
  border: 1px solid #424242;

  display: flex;
  align-items: center;
}
