@use "../../../styles/variables/_variables";

.LNav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  transition: all 0.2s;
}

.group_btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.left-menu__body.collapsed {
  .LNav {
    align-items: center;
  }
  .group_btn {
    width: auto;
    align-items: center;
    gap: 0px;
  }
}
