body {
  background-color: #1a1a2e
}

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;   
  flex-direction: column;
  gap: 30px;
  position: relative;
  top: -5vh;
}

