@use "../../../../../styles/mixins/_mixins" as *;

.confirm-password-overlay {
  @include modal_form_overlay;
}

.confirm-password-modal__header {
  display: flex;
  justify-content: space-between;
  button{
    cursor: pointer;
  }
}

.confirm-password__form {
  @include default_form;
  padding: 24px 24px 23px;
  border-radius: 5px;
  max-width: 480px;
}

.confirm-password__form::before {
  @include default_form_before;
}

.confirm-password__txt {
  @include text_add_17px;
}