.history-table {
  width: 100%;
  height: calc(100vh - 170px);
  overflow: auto;
  border: 1px solid #424242;
  border-radius: 8px;

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__header-row {
    position: sticky;
    top: 0;
    z-index: 1;

    th {
      padding: 12px 16px;
      text-align: left;
      font-family: "Inter", sans-serif;
      font-weight: 500;
      font-size: 14px;
      color: #fff;
      background-color: #2d2d2d;
      border-bottom: 1px solid #424242;

      &:last-child {
        width: 60px;
      }
    }
  }

  &__checkbox {
    appearance: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 1px solid #424242;
    border-radius: 5px;
    position: relative;
    transition: all 0.2s;
    display: block;
    margin: 0 auto;

    &:checked {
      background-color: #ff4b33;
      border-color: #ff4b33;
    }

    &:checked::after {
      content: "";
      position: absolute;
      left: 4px;
      top: 1px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }

    &:hover {
      border-color: #ff4b33;
    }
  }

  tbody tr {
    background-color: #222222;
    border-bottom: 1px solid #424242;
    height: 45px;

    &:hover {
      background-color: #1b1b1b;
    }
  }

  tbody td {
    padding: 12px 16px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #fff;

    &:last-child {
      text-align: right;
      width: 60px;
    }
  }
}
