@use "./../../../styles/variables/variables";

.left-menu__body {
  max-width: 240px;
  max-height: 100%;

  width: 190px;
  height: 100%;
  background: #212121;
  display: flex;
  flex-direction: column;
  transition: all 0.2s; 
  border-right: 1px solid #424242;
  padding: 25px 15px 16px 15px;
  box-sizing: border-box;

  &.collapsed {
    width: 40px;          
    padding: 25px 0 16px; 
    align-items: center;  
  }

  &--settings {
    padding: 17px 17px 0px;
    gap: 7px;
  }
}
