.btnAR {
  width: 405px;
  height: 60px;
  border-radius: 24px;
  background-color: #1e3a5f;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
  font-weight: 400; 
  line-height: normal; 
  text-align: left; 
  color: #ffffff; 
  font-size: 20px;
  cursor: pointer;
}

.btnAR:hover {
  background-color: #2A4A7A;
  transform: translateY(-1px);
}