@use "../../../../../styles/variables/_variables" as *;
@use "../../../../../styles/mixins/mixins" as *;

.MMTS_div_one{
    display:  flex;
    justify-content: space-between;
    align-items: center
}

.MMTS_div_one_txt{
    p {
        @include text_add_14px;
        color: $color-text-add;
    }
    .a1{
        color: white;
        font-size: 20px;
    }
}

.module_call{
    width: 170px;
    height: 30px;
    
    background-color: #FF4B33;
    border-radius: 6px;

    font-family: $font-family;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: white;
    
    cursor: pointer;
}